@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<link rel="stylesheet" href="~/css/restaurarcontraseña.css" asp-append-version="true"/>

<div class="d-flex justify-content-center align-items-center position-fixed top-50 start-50 translate-middle w-100 h-100 img-reset-password ">
    <div class="col-md-4 ">
        <h2 class="text-center">RESTAURAR CONTRASEÑA</h2>
        <hr />
        <form method="post" class="p-4  bg-light rounded-3  form-reset">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Ingrese su email" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <a href="/Identity/Account/Login?ReturnUrl=%2F">LOGIN</a>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">RESTAURAR CONTRASEÑA</button>
            
            
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
