@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/registro.css" asp-append-version="true"/>


<div class="d-flex justify-content-center align-items-center position-fixed top-50 start-50 translate-middle w-100 h-100 img-logout">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="p-4 form-register shadow">
            <h2 class="text-center">NUEVO USUARIO</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="INGRESE SU EMAIL" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="textos-validacion"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="INGRESE SU CONTRASEÑA" />
                <label asp-for="Input.Password">Contraseña</label>
                <span asp-validation-for="Input.Password" class="textos-validacion"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="CONFIRME SU CONTRASEÑA" />
                <label asp-for="Input.ConfirmPassword">Confirme su contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="textos-validacion"></span>
            </div>
            <div>
                <a href="/Identity/Account/Login?ReturnUrl=%2F">LOGIN</a>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">REGISTRAR</button>
            
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
