@{
  ViewData["Title"] = "Pacientes";
}

<h1>Pacientes</h1>

<div class="card">

  <div class="card-header row">
    <div class="col-6 d-flex align-items-center">
      <input type="search" class="form-control rounded" placeholder="Pacientes" aria-label="Search"
        aria-describedby="search-addon" />
      <button type="button" class="btn btn-primary ms-4 d-flex align-items-center justify-content-center"
        data-bs-toggle="modal" data-bs-target="#modalPacientes"><i class="material-icons">add</i></button>
      <button type="button" class="btn btn-primary ms-4 d-flex align-items-center justify-content-center"><i
          class="material-icons">print</i></button>
    </div>

  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Direccion</th>
          <th scope="col">Email</th>
          <th scope="col">Telefono</th>
          <th scope="col">Obra Social</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>fat</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>twitter</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPacientes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">

            <div class="mb-3 col-4">
              <label for="nombreCompleto" class="form-label">NOMBRE Y APELLIDO</label>
              <input type="email" class="form-control" id="nombreCompleto" placeholder="NOMBRE Y APELLIDO">
            </div>

            <div class="mb-3 col-4">
              <label for="dni" class="form-label">DNI</label>
              <input type="number" class="form-control" id="dni" placeholder="DNI">
            </div>

            <div class="mb-3 col-4">
              <label for="telefono" class="form-label">TELEFONO</label>
              <input type="number" class="form-control" id="dni" placeholder="TE">
            </div>

          </div>

          <div class="row">

            <div class="mb-3 col-6">
              <label for="direccion" class="form-label">DIRECCION</label>
              <input type="text" class="form-control" id="direccion" placeholder="DIRECCION">
            </div>

            <div class="mb-3 col-6">
              <label for="provincia" class="form-label">DPROVINCIA</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>[SELECCIONAR]</option>
                <option value="1">SANTA FE</option>
                <option value="2">CORDOBA</option>
                <option value="3">CABA</option>
              </select>
            </div>

          </div>

          <div class="row">
            <div class="mb-3 col-6">
              <label for="obraSocial" class="form-label">OBRA SOCIAL</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>[SELECCIONAR]</option>
                <option value="1">SANCOR 1000</option>
                <option value="2">OSPIL</option>
                <option value="3">SWISH MEDICAL</option>
              </select>
            </div>
          </div>
          
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
