@{
  ViewData["Title"] = "Medicos";
}

<h1>Profesionales</h1>

<div class="card">

  <div class="card-header row">
    <div class="col-6 d-flex align-items-center">
      <input type="search" class="form-control rounded" placeholder="Profesionales" aria-label="Search"
        aria-describedby="search-addon" />
      <button type="button" class="btn btn-primary ms-4 d-flex align-items-center justify-content-center"
        data-bs-toggle="modal" data-bs-target="#modalProfesionales"><i class="material-icons">add</i></button>
      <button type="button" class="btn btn-primary ms-4 d-flex align-items-center justify-content-center"><i
          class="material-icons">print</i></button>
    </div>

  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">DNI</th>
          <th scope="col">MP</th>
          <th scope="col">DIRECCION</th>
          <th scope="col">LOCALIDAD</th>
          <th scope="col">TELEFONO</th>
          <th scope="col">ESPECIALIDAD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>JUAN PEREZ</th>
          <td>123456</td>
          <td>C205</td>
          <td>LUCHINELLI 120</td>
          <td>SUARDI</td>
          <td>3562541255</td>
          <td>CLINICA</td>
        </tr>
        <tr>
          <th>CHIQUI TAPIA</th>
          <td>11458789</td>
          <td>10254</td>
          <td>AV SAN MARTIN 123</td>
          <td>SUARDI</td>
          <td>3564789511</td>
          <td>CLINICO</td>
        </tr>
        <tr>
          <th>CINDY GORI</th>
          <td>37225488</td>
          <td>1520</td>
          <td>MORENO 720</td>
          <td>SUARDI</td>
          <td>3562504123</td>
          <td>TRAUMATOLOGIA</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalProfesionales" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">NUEVO PROFESIONAL</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">

            <div class="mb-3 col-4">
              <label for="nombreCompleto" class="form-label">NOMBRE Y APELLIDO</label>
              <input type="text" class="form-control" id="nombreCompleto" placeholder="NOMBRE Y APELLIDO" oninput="textoMayuscula(this)">
              <span id="errorMensajeNombre" style="color:red; display:none; font-size: 15px; padding-left: 4px;">
                *Este dato es obligatorio
              </span>
            </div>

            <div class="mb-3 col-4">
              <label for="dni" class="form-label">DNI</label>
              <input type="number" class="form-control" id="dni" placeholder="DNI">
              <span id="errorMensajeDni" style="color:red; display:none; font-size: 15px; padding-left: 4px;">
                *Este dato es obligatorio
              </span>
            </div>

            <div class="mb-3 col-4">
              <label for="mp" class="form-label">MP</label>
              <input type="text" class="form-control" id="mp" placeholder="MATRICULA PROFESIONAL">
              <span id="errorMensajeMp" style="color:red; display:none; font-size: 15px; padding-left: 4px;">
                *Este dato es obligatorio
              </span>
            </div>

            
          </div>

          <div class="row">

            <div class="mb-3 col-4">
              <label for="direccion" class="form-label">DIRECCION</label>
              <input type="text" class="form-control" id="direccion" placeholder="DIRECCION" oninput="textoMayuscula(this)">
              <span id="errorMensajeDireccion" style="color:red; display:none; font-size: 15px; padding-left: 4px;">
                *Este dato es obligatorio
              </span>
            </div>

            <div class="mb-3 col-4">
              <label for="localidad" class="form-label">LOCALIDAD</label>
              <select id = "localidad" class="form-select" aria-label="Default select example">
                <option selected>[SELECCIONAR]</option>
                <option value="1">SUARDI</option>
                <option value="2">MORTEROS</option>
                <option value="3">SAN GUILLERMO</option>
              </select>
              <span id="errorMensajeLocalidad" style="color:red; display:none; font-size: 15px; padding-left: 4px;">
                *Este dato es obligatorio
              </span>
            </div>

            <div class="mb-3 col-4">
              <label for="telefono" class="form-label">TELEFONO</label>
              <input type="text" class="form-control" id="telefono" placeholder="TE">
              <span id="errorMensajeTelefono" style="color:red; display:none; font-size: 15px; padding-left: 4px;">
                *Este dato es obligatorio
              </span>
            </div>


          </div>

          <div class="row">
            <div class="mb-3 col-6">
              <label for="obraSocial" class="form-label">ESPECIALIDAD</label>
              <select id = "obraSocial" class="form-select" aria-label="Default select example">
                <option selected>[SELECCIONAR]</option>
                <option value="1">CLINICO</option>
                <option value="2">TRAUMATOLOGIA</option>

              </select>
              <span id="errorMensajeEspecialidad" style="color:red; display:none; font-size: 15px; padding-left: 4px;">
                *Este dato es obligatorio
              </span>
            </div>
          </div>
          
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="ValidarInputs()">Guardar</button>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/js/pacientes-1.0.0.js"></script>
}