.img-logout {
    background-image: url('../Img/logout1.jpg'); /* Cambia la ruta a la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-register {
    background-color: rgba(190, 190, 190, 0.85); /* Fondo blanco con transparencia */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Sombra sutil */
}

.textos-validacion {
    color: red;
}
